.descriptionbox{
    margin: 100px 170px;
}
.descriptionbox-navigator{
    display: flex;
    
}
.descriptionbox-des{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    color: wheat;
    border: 1px solid #d0d0d0;
}
.descriptionbox-des.fade{
    background: #fbfbfb;
    color: #555;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #d0d0d0;
    padding: 40px;
    padding-bottom: 70px;
    color: rgb(207, 206, 206);
}